<div class="root">
  <mat-form-field class="search">
    <mat-chip-list #chipList aria-label="Search tag selection">
      <mat-chip *ngFor="let tag of searchService.tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Enter search tags" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (keyup.enter)="searchOrAdd($event)">
    </mat-chip-list>
  </mat-form-field>
  <button *ngIf="showButton" mat-flat-button color="primary" [routerLink]="[redirect]" (click)="search('tmp')">Search!</button>
</div>