<div class="root">

    <div class="search">
        <app-search [redirect]="[]"></app-search>
    </div>

    <mat-spinner *ngIf="searchService.searching"></mat-spinner>

    <mat-card *ngFor="let drink of searchService.drinks" class="drink_overview">
        <mat-card-header>
            <mat-card-title>{{ drink.strDrink }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{drink.strDrinkThumb}}"/>
        <mat-card-actions>
            <button mat-button [routerLink]="['/drinks', drink.idDrink]">
                Details
            </button>
        </mat-card-actions>
    </mat-card>
</div>