<div>

    <mat-spinner *ngIf="drinks.length === 0"></mat-spinner>

    <mat-card *ngFor="let drink of drinks" class="drink_overview">
        <mat-card-header>
            <mat-card-title>{{ drink.strDrink }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{drink.strDrinkThumb}}"/>
        <mat-card-actions>
            <button mat-button (click)="onSelect(drink)" [routerLink]="['/drinks',drink.idDrink]">
                Details
            </button>
            
        </mat-card-actions>
    </mat-card>
</div>